name: Publish

on:
  push:
    tags:
      - "*"

jobs:
  test:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Publish
        run: cargo publish --verbose --all-features --token ${{ secrets.CRATES_IO_TOKEN }}
